$fz-s: 16px; // *1.5=24 *2=32 *3=48
$fz-m: 20px; 
$fz-l: 28px;

$fw-s: 300;
$fw-m: 400;
$fw-l: 500;

$C1ST: #6A33F8;
$C2ND: #000;
$C3RD: #301E5F;
$C4TH: #B9B9B9;

$tnsFast: all 0.2s;
$tnsSlow: all 0.5s;