@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  font-family: Helvetica, Arial, "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

button {
  border: 0px;
  outline: none;
  cursor: pointer;
}

input,
select,
textarea {
  border: 0px;
  outline: none;
}

input::-moz-placeholder {
  color: #B9B9B9;
}

input:-ms-input-placeholder {
  color: #B9B9B9;
}

input::placeholder {
  color: #B9B9B9;
}

#toTop {
  z-index: 90;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  color: #fff;
  background-color: #6A33F8;
  border-radius: 50%;
}

body {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.wrap {
  margin: 0 auto;
  max-width: 1100px;
}

.nav {
  border-bottom: 40px solid #000;
  margin-bottom: 30px;
}
.nav .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1100px) {
  .nav .wrap {
    padding: 0 15px;
  }
}
.nav .wrap a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.nav .wrap a:hover {
  color: #6A33F8;
}
.nav__logo {
  padding: 36px 0;
}
@media only screen and (max-width: 767px) {
  .nav__logo {
    padding: 15px;
  }
}
.nav__logo:hover {
  transform: scale(1.05);
}
.nav__menu {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
}
@media only screen and (max-width: 767px) {
  .nav__menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 10;
  }
}
.nav__menu a {
  padding: 36px 24px;
  font-weight: 500;
  background-color: #FFF;
}
@media only screen and (max-width: 767px) {
  .nav__menu a {
    text-align: center;
    padding: 15px;
  }
  .nav__menu a:hover {
    color: #fff !important;
    background-color: #6A33F8;
  }
}
@media only screen and (max-width: 767px) {
  .nav__menu li {
    width: 100%;
  }
}
.nav__menu li:last-child a {
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
  .nav__menu li:last-child a {
    padding: 15px;
  }
}
.nav__menu.openMenu {
  max-height: 300px;
}

.menuToggle {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .menuToggle {
    display: block;
    font-size: 28px;
    padding: 15px;
  }
}

.menuToggle:hover {
  color: #6A33F8;
}

h3 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.heroSection div {
  position: relative;
  margin-bottom: 60px;
  min-height: 420px;
  background-image: url("../images/hero-banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heroSection div h2 {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
}
.heroSection__bedAdvantage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.heroSection__bedAdvantage img {
  margin-bottom: 10px;
  max-height: 140px;
}
.heroSection__bedAdvantage p {
  font-size: 20px;
  text-align: center;
}

.furnitureCompare {
  padding: 50px 0 60px 0;
  background-color: #F8F8F8;
}
@media only screen and (max-width: 767px) {
  .furnitureCompare {
    padding: 50px 15px 60px;
  }
}
@media only screen and (max-width: 767px) {
  .furnitureCompare__tableWrap {
    overflow-x: scroll;
  }
}
.furnitureCompare__tableWrap table {
  width: 65%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .furnitureCompare__tableWrap table {
    width: 500px;
  }
}
.furnitureCompare__tableWrap table th,
.furnitureCompare__tableWrap table td {
  text-align: center;
  padding: 15px 0;
}
@media only screen and (max-width: 767px) {
  .furnitureCompare__tableWrap table th,
.furnitureCompare__tableWrap table td {
    padding: 10px 0;
  }
}
.furnitureCompare__tableWrap table th {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .furnitureCompare__tableWrap table th {
    font-size: 16px;
  }
}
.furnitureCompare__tableWrap table tr {
  border-bottom: 1px solid #B9B9B9;
}
.furnitureCompare__tableWrap table tr td:first-child {
  text-align: left;
}
.furnitureCompare__tableWrap table .material-icons {
  color: #6A33F8;
  transform: scale(1.5);
}
.furnitureCompare__tableWrap table .textMuted {
  color: #797979;
}

.recommendation {
  padding: 60px 0;
  background-color: #301E5F;
}
@media only screen and (max-width: 767px) {
  .recommendation {
    padding: 60px 15px;
  }
}
.recommendation h3 {
  color: #fff;
}
.recommendation__wall {
  overflow-x: scroll;
  scrollbar-width: none;
}
.recommendation__wall::-webkit-scrollbar {
  display: none;
}
.recommendation__wall__top {
  display: flex;
  margin-left: 95px;
  margin-bottom: 20px;
}
.recommendation__wall__bottom {
  display: flex;
}

.recCard {
  display: flex;
  margin-left: 30px;
  min-width: 320px;
  background-color: #FFFFFF;
}
.recCard img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
.recCard__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}
.recCard__content__info {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.recCard__content__info img {
  margin-right: 8px;
  width: 40px;
  border-radius: 50%;
}
.recCard__content__info p {
  font-weight: 500;
}
.recCard__content__info span {
  color: #6A33F8;
  font-size: 12.8px;
}

.transport {
  padding: 30px 0;
}
.transport__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .transport__intro {
    flex-direction: column;
  }
}
.transport li:nth-child(-n+3) {
  position: relative;
}
.transport li:nth-child(-n+3)::after {
  content: "";
  position: absolute;
  top: 49px;
  right: -55px;
  border: 10px solid #000;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
@media only screen and (max-width: 767px) {
  .transport li:nth-child(-n+3)::after {
    position: static;
    margin-top: 25px;
    border: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
@media only screen and (max-width: 767px) {
  .transport li {
    margin-bottom: 20px;
  }
}

.transportCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.transportCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 115px;
  height: 115px;
  border: 3px solid #000;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .transportCard__img {
    width: 150px;
    height: 150px;
  }
}
.transportCard__img .material-icons {
  font-size: 60px;
}
.transportCard h4 {
  font-size: 20px;
  font-weight: bold;
}

.product {
  padding: 30px 15px;
}
.product__select {
  margin-bottom: 30px;
  min-height: 38px;
  min-width: 255px;
  color: #797979;
  border: 1px solid #B9B9B9;
  border-radius: 5px;
  text-indent: 10px;
}
.product__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.productCard {
  position: relative;
  margin: 0 1%;
  width: 23%;
  margin-bottom: 30px;
}
.productCard:hover .description p {
  display: block;
}
@media only screen and (max-width: 992px) {
  .productCard {
    width: 48%;
  }
}
@media only screen and (max-width: 767px) {
  .productCard {
    width: 98%;
  }
}
.productCard h5 {
  position: absolute;
  top: 13px;
  right: -5px;
  padding: 4px 8px;
  color: #ffffff;
  border-radius: 4px 0 0 4px;
  background-color: #6A33F8;
  z-index: 11;
}
.productCard .description {
  position: relative;
  overflow: hidden;
}
.productCard .description img {
  max-height: 250px;
  min-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}
.productCard .description p {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: none;
  width: 100%;
  max-height: 150px;
  padding: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.productCard button {
  margin-bottom: 8px;
  padding: 16px 0;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  background-color: #000;
}
.productCard button:hover {
  background-color: #301E5F;
}
.productCard h4 {
  max-height: 30px;
  font-size: 20px;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .productCard h4 {
    text-align: center;
  }
}
.productCard del {
  display: block;
  color: #B9B9B9;
  font-size: 8px;
}
@media only screen and (max-width: 992px) {
  .productCard del {
    display: block;
    text-align: center;
  }
}
.productCard p {
  font-size: 28px;
}
@media only screen and (max-width: 992px) {
  .productCard p {
    text-align: center;
  }
}
.productCard p span {
  font-size: 8px;
}

.cart {
  background-color: #F8F8F8;
  padding: 60px 0;
}
.cart .cartWrap {
  overflow-x: scroll;
}
.cart__table {
  margin: 0 auto;
  font-size: 20px;
  border-collapse: collapse;
}
@media only screen and (max-width: 767px) {
  .cart__table {
    width: 700px;
  }
}
.cart__table tfoot tr {
  border-bottom: 0px;
}
.cart__table th,
.cart__table td {
  padding: 15px;
  vertical-align: middle;
}
.cart__table th {
  color: #fff;
  text-align: left;
  background-color: #B9B9B9;
}
.cart__table tr {
  border-bottom: 1px solid #B9B9B9;
}
.cart__table tr span {
  font-size: 8px;
}
.cart__table .cartItem {
  display: flex;
  align-items: center;
}
.cart__table .cartItem img {
  margin-right: 15px;
  max-width: 80px;
}

.deleteBtn {
  text-align: right;
}
.deleteBtn a {
  display: inline-block;
  padding: 10px;
  color: #000;
  font-size: 28px;
}
.deleteBtn a:hover {
  color: #6A33F8;
  transform: scale(1.3);
}

.deleteAllBtn {
  display: inline-block;
  padding: 5px 15px;
  color: #B9B9B9;
  border: 1.3px solid #B9B9B9;
  border-radius: 5px;
}
.deleteAllBtn:hover {
  color: #FFFFFF;
  background-color: #000;
}

.order {
  padding: 60px 0;
}
.order__form {
  padding: 0 15px;
}
.order__form__btn {
  display: block;
  margin: 50px auto 0;
  padding: 16px 48px;
  color: #FFF;
  font-size: 20px;
  border-radius: 4px;
  background-color: #000;
  cursor: pointer;
}
.order__form__btn:hover {
  background-color: #301E5F;
}

.formGroup {
  margin: 0 auto 15px;
  max-width: 365px;
}
.formGroup__label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}
.formGroup__inputWrap {
  position: relative;
}
.formGroup__inputWrap__input {
  margin-right: 10px;
  width: 100%;
  min-height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  text-indent: 1rem;
}
.formGroup__inputWrap p {
  position: absolute;
  left: 103%;
  top: 50%;
  color: #C72424;
  white-space: nowrap;
  transform: translateY(-50%);
}
@media only screen and (max-width: 767px) {
  .formGroup__inputWrap p {
    position: static;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */