@import "variable"; // 字級、顏色、速度
@import "reset"; // Reset、初始設定
@import "mixin"; // Flex、@media
@import "layout"; // layout、toTop、按鈕

.nav {
	border-bottom: 40px solid #000;
	margin-bottom: 30px;

	.wrap {
		@include disFlex($jc: space-between);
		position: relative;

		@media (max-width:1100px) {
			padding: 0 15px;
		}

		a {
			display: block;
			text-decoration: none;
			color: #000000;
			font-size: $fz-m;

			&:hover {
				color: #6A33F8;
			}
		}
	}

	&__logo {
		padding: 36px 0;

		@include mobile {
			padding: 15px;
		}

		&:hover {
			transform: scale(1.05);
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		background-color: #FFFFFF;

		@include mobile {
			position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			width: 100%;
			max-height: 0;
			overflow: hidden;
			z-index: 10;
		}

		a {
			padding: 36px 24px;
			font-weight: $fw-l;
			background-color: #FFFFFF;

			@include mobile {
				text-align: center;
				padding: 15px;

				&:hover {
					color: #fff !important;
					background-color: #6A33F8;
				}
			}
		}

		li {
			@include mobile {
				width: 100%;
			}
		}

		li:last-child a {
			padding-right: 0;

			@include mobile {
				padding: 15px;
			}
		}
	}

	&__menu.openMenu {
		max-height: 300px;
	}
}

// 漢堡圖
.menuToggle {
	display: none;
	cursor: pointer;

	@include mobile {
		display: block;
		font-size: $fz-l;
		padding: 15px;
	}
}

.menuToggle:hover {
	color: #6A33FF;
}

h3 {
	margin-bottom: 30px;
	font-size: $fz-l;
	font-weight: $fw-l;
	text-align: center;
}

.heroSection {
	div {
		position: relative;
		margin-bottom: 60px;
		min-height: 420px;
		background-image: url("../images/hero-banner.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		h2 {
			position: absolute;
			left: 50px;
			bottom: 50px;
			color: #FFFFFF;
			font-size: $fz-s * 2;
			font-weight: $fw-l;
		}
	}

	&__bedAdvantage {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;

		img {
			margin-bottom: 10px;
			max-height: 140px;
			// object-fit: cover;
		}

		p {
			font-size: $fz-m;
			text-align: center;
		}
	}
}

.furnitureCompare {
	padding: 50px 0 60px 0;
	background-color: #F8F8F8;

	@include mobile {
		padding: 50px 15px 60px;
	}

	&__tableWrap {
		@include mobile {
			overflow-x: scroll;
		}

		table {
			width: 65%;
			margin: 0 auto;

			@include mobile {
				width: 500px;
			}

			th,
			td {
				text-align: center;
				padding: 15px 0;

				@include mobile {
					padding: 10px 0;
				}
			}

			th {
				font-size: $fz-m;
				font-weight: $fw-l;

				@include mobile {
					font-size: $fz-s;
				}
			}

			tr {
				border-bottom: 1px solid #B9B9B9;
			}

			tr td:first-child {
				text-align: left;
			}

			.material-icons {
				color: #6A33FF;
				transform: scale(1.5);
			}

			.textMuted {
				color: #797979;
			}
		}
	}
}

.recommendation {
	padding: 60px 0;
	background-color: #301E5F;

	@include mobile {
		padding: 60px 15px;
	}

	h3 {
		color: #fff;
	}

	&__wall {
		overflow-x: scroll;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		&__top {
			display: flex;
			margin-left: 95px;
			margin-bottom: 20px;
		}

		&__bottom {
			display: flex;
		}
	}
}

.recCard {
	display: flex;
	margin-left: 30px;
	min-width: 320px;
	background-color: #FFFFFF;

	img {
		user-select: none;
		// 元素不能被拖動。在通過選中后可拖拽。
		-webkit-user-drag: none;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 16px;

		&__info {
			display: flex;
			align-items: center;
			margin-bottom: 3px;

			img {
				margin-right: 8px;
				width: 40px;
				border-radius: 50%;
			}

			p {
				font-weight: $fw-l;
			}

			span {
				color: #6A33F8;
				font-size: $fz-s * 0.8;
			}
		}
	}
}

.transport {
	padding: 30px 0;

	&__intro {
		@include disFlex($jc: space-between);
		max-width: 700px;
		margin: 0 auto;

		@include mobile {
			flex-direction: column;
		}
	}

	li {
		&:nth-child(-n+3) {
			position: relative;
		}

		&:nth-child(-n+3)::after {
			content: "";
			position: absolute;
			top: 49px;
			right: -55px;
			border: 10px solid #000000;
			border-top: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid transparent;

			@include mobile {
				position: static;
				margin-top: 25px;
				border: 10px solid #000000;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid transparent;
			}
		}

		@include mobile {
			margin-bottom: 20px;
		}
	}
}

.transportCard {
	@include disFlex;
	flex-direction: column;

	&__img {
		@include disFlex;
		margin-bottom: 8px;
		width: 115px;
		height: 115px;
		border: 3px solid #000000;
		border-radius: 50%;

		@include mobile {
			width: 150px;
			height: 150px;
		}

		.material-icons {
			font-size: 60px;
		}
	}

	h4 {
		font-size: $fz-m;
		font-weight: bold;
	}
}

.product {
	padding: 30px 15px;

	&__select {
		margin-bottom: 30px;
		min-height: 38px;
		min-width: 255px;
		color: #797979;
		border: 1px solid #B9B9B9;
		border-radius: 5px;
		text-indent: 10px;
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
}

.productCard {
	position: relative;
	margin: 0 1%;
	width: 23%;
	margin-bottom: 30px;

	@include pad {
		width: 48%;
	}

	@include mobile {
		width: 98%;
	}

	h5 {
		position: absolute;
		top: 13px;
		right: -5px;
		padding: 4px 8px;
		color: #ffffff;
		background-color: #6A33F8;
	}

	img {
		max-height: 250px;
		min-height: 200px;
		width: 100%;
		object-fit: cover;
		object-position: 50% 70%;
	}

	button {
		margin-bottom: 8px;
		padding: 16px 0;
		width: 100%;
		font-size: $fz-m;
		color: #ffffff;
		background-color: #000000;

		&:hover {
			background-color: #301E5F;
		}
	}

	h4 {
		max-height: 30px;
		font-size: $fz-m;
		overflow: hidden;

		@include pad {
			text-align: center;
		}
	}

	del {
		color: #797979;
		font-size: $fz-s * 0.5;

		@include pad {
			display: block;
			text-align: center;
		}
	}

	p {
		font-size: $fz-l;

		@include pad {
			text-align: center;
		}

		span {
			font-size: $fz-s * 0.5;
		}
	}
}

.cart {
	background-color: #F8F8F8;
	padding: 60px 0;

	.cartWrap {
		overflow-x: scroll;
	}

	&__table {
		margin: 0 auto;
		font-size: $fz-m;
		border-collapse: collapse;

		@include mobile {
			width: 700px;
		}

		th,
		td {
			padding: 15px;
			vertical-align: middle;
		}

		th {
			color: #fff;
			text-align: left;
			background-color: #B9B9B9;
		}

		tr {
			border-bottom: 1px solid #B9B9B9;

			&:first-child,
			&:last-child {
				border-bottom: 0;
			}

			span {
				font-size: $fz-s * 0.5;
			}
		}

		&__item {
			display: flex;
			align-items: center;

			img {
				margin-right: 15px;
				max-width: 80px;
			}
		}
	}
}

.deleteBtn {
	text-align: right;

	a {
		display: inline-block;
		padding: 10px;
		color: #000000;
		font-size: $fz-l;

		&:hover {
			color: #6A33F8;
			transform: scale(1.3);
		}
	}
}

.deleteAllBtn {
	display: inline-block;
	padding: 5px 15px;
	color: #B9B9B9;
	border: 1.3px solid #B9B9B9;
	border-radius: 5px;

	&:hover {
		color: #FFFFFF;
		background-color: #000000;
	}
}

.order {
	padding: 60px 0;

	&__form {
		padding: 0 15px;

		&__btn {
			display: block;
			margin: 50px auto 0;
			padding: 16px 48px;
			color: #FFF;
			font-size: $fz-m;
			border-radius: 4px;
			background-color: #000;
			cursor: pointer;

			&:hover {
				background-color: #301E5F;
			}
		}
	}
}

.formGroup {
	margin: 0 auto 15px;
	max-width: 365px;

	&__label {
		display: block;
		margin-bottom: 6px;
		font-weight: $fw-l;
	}

	&__inputWrap {
		position: relative;

		&__input {
			margin-right: 10px;
			width: 100%;
			min-height: 38px;
			border: 1px solid #CED4DA;
			border-radius: 4px;
			text-indent: 1rem;
		}

		p {
			position: absolute;
			left: 103%;
			top: 50%;
			color: #C72424;
			white-space: nowrap;
			transform: translateY(-50%);

			@include mobile {
				position: static;
				transform: translateY(0);
			}
		}
	}
}