@import "variable"; // 字級、顏色、速度
@import "reset"; // Reset、初始設定
@import "mixin"; // Flex、@media
@import "layout"; // layout、toTop、按鈕

.nav {
	border-bottom: 40px solid #000;
	margin-bottom: 30px;

	.wrap {
		@include disFlex($jc: space-between);
		position: relative;

		@media (max-width:1100px) {
			padding: 0 15px;
		}

		a {
			display: block;
			text-decoration: none;
			color: #000000;
			font-size: $fz-m;

			&:hover {
				color: #6A33F8;
			}
		}
	}

	&__logo {
		padding: 36px 0;

		@include mobile {
			padding: 15px;
		}

		&:hover {
			transform: scale(1.05);
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		background-color: #FFFFFF;

		@include mobile {
			position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			width: 100%;
			max-height: 0;
			overflow: hidden;
			z-index: 10;
		}

		a {
			padding: 36px 24px;
			font-weight: $fw-l;
			background-color: #FFFFFF;

			@include mobile {
				text-align: center;
				padding: 15px;

				&:hover {
					color: #fff !important;
					background-color: #6A33F8;
				}
			}
		}

		li {
			@include mobile {
				width: 100%;
			}
		}

		li:last-child a {
			padding-right: 0;

			@include mobile {
				padding: 15px;
			}
		}
	}

	&__menu.openMenu {
		max-height: 300px;
	}
}

// 漢堡圖
.menuToggle {
	display: none;
	cursor: pointer;

	@include mobile {
		display: block;
		font-size: $fz-l;
		padding: 15px;
	}
}

.menuToggle:hover {
	color: #6A33FF;
}

h3 {
	margin-bottom: 30px;
	font-size: $fz-l;
	font-weight: $fw-l;
	text-align: center;
}

.heroSection {
	div {
		position: relative;
		margin-bottom: 60px;
		min-height: 420px;
		background-image: url("../images/hero-banner.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		h2 {
			position: absolute;
			left: 50px;
			bottom: 50px;
			color: #FFFFFF;
			font-size: $fz-s * 2;
			font-weight: $fw-l;
		}
	}

	&__bedAdvantage {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;

		img {
			margin-bottom: 10px;
			max-height: 140px;
			// object-fit: cover;
		}

		p {
			font-size: $fz-m;
			text-align: center;
		}
	}
}

.furnitureCompare {
	padding: 50px 0 60px 0;
	background-color: #F8F8F8;

	@include mobile {
		padding: 50px 15px 60px;
	}

	&__tableWrap {
		@include mobile {
			overflow-x: scroll;
		}

		table {
			width: 65%;
			margin: 0 auto;

			@include mobile {
				width: 500px;
			}

			th,
			td {
				text-align: center;
				padding: 15px 0;

				@include mobile {
					padding: 10px 0;
				}
			}

			th {
				font-size: $fz-m;
				font-weight: $fw-l;

				@include mobile {
					font-size: $fz-s;
				}
			}

			tr {
				border-bottom: 1px solid #B9B9B9;
			}

			tr td:first-child {
				text-align: left;
			}

			.material-icons {
				color: #6A33FF;
				transform: scale(1.5);
			}

			.textMuted {
				color: #797979;
			}
		}
	}
}

.recommendation {
	padding: 60px 0;
	background-color: #301E5F;

	@include mobile {
		padding: 60px 15px;
	}

	h3 {
		color: #fff;
	}

	&__wall {
		overflow-x: scroll;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		&__top {
			display: flex;
			margin-left: 95px;
			margin-bottom: 20px;
		}

		&__bottom {
			display: flex;
		}
	}
}

.recCard {
	display: flex;
	margin-left: 30px;
	min-width: 320px;
	background-color: #FFFFFF;

	img {
		user-select: none;
		// 元素不能被拖動。在通過選中后可拖拽。
		-webkit-user-drag: none;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 16px;

		&__info {
			display: flex;
			align-items: center;
			margin-bottom: 3px;

			img {
				margin-right: 8px;
				width: 40px;
				border-radius: 50%;
			}

			p {
				font-weight: $fw-l;
			}

			span {
				color: #6A33F8;
				font-size: $fz-s * 0.8;
			}
		}
	}
}